@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(16 185 129);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(5 150 105);
}

::-webkit-scrollbar-track {
  background: rgb(6 78 59);
}